## IDEA ##
.idea/
out/
*.iml
*.ipr
*.iws
*.ids

## NetBeans ##
build/
dist/
nbbuild/
nbdist/
nbproject/
nb-configuration.xml
nbactions.xml
build.xml

## MAVEN ##
target/

## OTHER ##
logs/
*.log
manifest.mf
libs/
lib/
test/
plugins/
*.bat

